<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="topnav">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if 'ROLE_INFIRMIER' in user.getRoles %}
		      <a href="{{path('patient_ajout')}}">Ajouter un patient</a>
		      <a href="{{path('patient_liste')}}">Liste des Patients</a>
              <a href="{{path('sejour_liste')}}">Liste des séjours en cours</a>
            {% elseif 'ROLE_ADMIN' in user.getRoles %}
              <a href="{{path('register')}}">Inscrire un utilisateur</a>
            {% elseif 'ROLE_DEV' in user.getRoles %}
              <a href="{{path('patient_ajout')}}">Ajouter un patient</a>
              <a href="{{path('patient_liste')}}">Liste des Patients</a>
              <a href="{{path('sejour_liste')}}">Liste des séjours en cours</a>
              <a href="{{path('register')}}">Inscrire un utilisateur</a>
            {% endif %}
          <a href="{{path('logout')}}">Déconnexion</a>
        {% else %}
          <a href="{{path('login')}}">Se connecter</a>
        {% endif %}
        </div>
        {% block body %}{% endblock %}
    </body>

    <style type="text/css">
        /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #3daa18;
  color: black;
}
    </style>
</html>
