<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

        <style type="text/css">
        /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #3daa18;
  color: black;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
    </style>
    </head>
    <body>
        <div class="navbar">
            <a href="{{path('principal')}}">Acceuil</a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if 'ROLE_INFIRMIER' in user.getRoles %}
              <div class="dropdown">              
              <button class="dropbtn">Affichage des séjours
                  <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                      <a href="{{path('sejour_liste_cejour')}}">Liste des séjours qui débutent ce jour</a>
                      <a href="{{path('sejour_liste_avenir')}}">Liste des séjours à venir</a>
                      <a href="{{path('sejour_listecour')}}">Liste des séjours en cours</a>
                      <a href="{{path('sejour_liste_dateprecise')}}">Liste des séjours à une date précise</a>
                      <a href="{{path('sejour_liste_patient')}}">Liste des séjours des patients</a>
                  </div>
              </div> 
            {% elseif 'ROLE_ADMIN' in user.getRoles %}
            <a href="{{path('register')}}">Ajouter un utilisateur</a>
                <div class="dropdown">
                  <button class="dropbtn">Gestion des patients
                  <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                      <a href="{{path('patient_liste')}}">Afficher la liste des patients</a>
                      <a href="{{path('patient_ajout')}}">Ajout d'un patient</a>
                  </div>
              </div>
              <div class="dropdown">              
              <button class="dropbtn">Gestion des séjours
                  <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                      <a href="{{path('sejour_ajout')}}">Ajouter un séjour</a>
                      <a href="{{path('sejour_all')}}">Liste des séjours en cours</a>
                  </div>
              </div>      
            {% endif %}
          <a href="{{path('logout')}}">Déconnexion</a>
        {% else %}
          <a href="{{path('login')}}">Se connecter</a>
        {% endif %}
        </div>
        {% block body %}{% endblock %}

    </body>

    
    <script type="text/javascript">
        function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
    </script>
</html>
